body {
    background-color: goldenrod;
    color: brown;
}
ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: left; 
}

.green {
    background-color: green;
}
.red {
    background-color: red;
}